<% layout("/layouts/boilerplate")  %>

<!-- <form action="/signup" class="mb-3" method="POST">
    <input type="hidden" name="userType" value="cafeOwner">
    <button class="btn btn-sm btn-dark">Register As a Cafe Owner</button>
</form>
<form action="/signup" class="mb-3" method="POST">
    <input type="hidden" name="userType" value="singer">
    <button class="btn btn-sm btn-dark">Register As a singer</button>
</form>
<form action="/signup" class="mb-3" method="POST">
    <input type="hidden" name="userType" value="normalUser">
    <button class="btn btn-sm btn-dark">Register As a Normal User</button>
</form> -->
