<% layout("/layouts/boilerplate")  %>

<form action="/signup" class="mb-3">
    <input type="text" value="cafeOwner" hidden>
    <button class="btn btn-sm btn-dark">Register As a Cafe Owner</button>
</form>
<form action="/signup" class="mb-3">
    <input type="text" value="singer" hidden>
    <button class="btn btn-sm btn-dark">Register As a singer</button>
</form>
<form action="/signup" class="mb-3">
    <input type="text" value="normalUser" hidden>
    <button class="btn btn-sm btn-dark">Register As a Normal User</button>
</form>
